.main-menu {
    text-align: center;
    margin-top: 50px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4d80f7;
    color: #ffffff
    cursor: pointer;
}
