.main-menu {
    text-align: center;
    margin-top: 50px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.btn:hover {
    background-color: #3e8e41
body {
    background-image: url('https://media.discordapp.net/attachments/1255440100490477579/1265647063626940446/Screenshot_2024-07-24_5.36.04_PM.png?ex=66a2452e&is=66a0f3ae&hm=a5e92373f153995b6d809b9bb4d68e5aa97328c995d316915c69789c1b825d6f&=&format=webp&quality=lossless');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
